APP_DEBUG=true
DEBUG=true
EASE_LOGGER=syslog|console

WHA_SAVER="PdoSQL"
#WHA_SAVER="Kafka"
#WHA_SAVER="Redis"
#WHA_SAVER="MongoDB"
#WHA_SAVER="Api"

DB_CONNECTION=sqlite3
DB_HOST=localhost
DB_PORT=
DB_DATABASE=./db/abraflexiwebhookacceptor
DB_USERNAME=
DB_PASSWORD=

#KAFKA_BROKERS=localhost:9092
#KAFKA_TOPIC_PREFIX=abraflexi

#REDIS_HOST=localhost
#REDIS_PORT=6379
#REDIS_PASSWORD=
#REDIS_KEY_PREFIX=abraflexi

#MONGODB_URI=mongodb://localhost:27017
#MONGODB_DATABASE=abraflexi_webhook
