[Desktop Entry]
Version=1.0
Type=Application

Name=AbraFlexi WebHook acceptor
Comment=Listen for AbraFlexi changes
Categories=Office;Finance;

Icon=multi-flexibee-setup
Exec=sensible-browser http://localhost/abraflexi-webhook-acceptor/
Terminal=false

