#!/usr/bin/make -f
export DH_VERBOSE = 1

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_install:
	dh_install
	# Install static Debian autoloader
	install -D -m 0644 debian/autoload.php debian/abraflexi-webhook-acceptor/usr/share/php/abraflexi-webhook-acceptor/autoload.php
	# Inject package identity into InstalledVersions block (type=project)
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/abraflexi-webhook-acceptor/usr/share/php/abraflexi-webhook-acceptor/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
		debian/abraflexi-webhook-acceptor/usr/share/php/abraflexi-webhook-acceptor/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
		debian/abraflexi-webhook-acceptor/usr/share/php/abraflexi-webhook-acceptor/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" \
		debian/abraflexi-webhook-acceptor/usr/share/php/abraflexi-webhook-acceptor/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/abraflexi-webhook-acceptor/usr/share/php/abraflexi-webhook-acceptor/autoload.php
	# Fix entry points to use Debian autoloader
	sed -i '/__DIR__/c\require_once "/usr/share/php/abraflexi-webhook-acceptor/autoload.php";' debian/abraflexi-webhook-acceptor/usr/share/abraflexi-webhook-acceptor/*.php
	sed -i -e 's/.\/vendor/\/usr\/share\/php\/abraflexi-webhook-acceptor/g'    debian/abraflexi-webhook-acceptor/usr/lib/abraflexi-webhook-acceptor/phinx-adapter.php
	sed -i 's/..\/.env/\/etc\/abraflexi-webhook-acceptor\/.env/'  debian/abraflexi-webhook-acceptor/usr/*/abraflexi-webhook-acceptor/*.php
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'            	     debian/abraflexi-webhook-acceptor/usr/share/abraflexi-webhook-acceptor/*.php
	sed -i '/prefix =/c\ $$prefix = "\/usr\/lib\/abraflexi-webhook-acceptor\/db\/";' debian/abraflexi-webhook-acceptor/usr/lib/abraflexi-webhook-acceptor/phinx-adapter.php
	mkdir -p                                                             debian/abraflexi-webhook-acceptor-sqlite/usr/lib/abraflexi-webhook-acceptor
	cp debian/conf/.env.template                                         debian/abraflexi-webhook-acceptor-sqlite/usr/lib/abraflexi-webhook-acceptor
	mkdir -p                                                             debian/abraflexi-webhook-acceptor-mysql/usr/lib/abraflexi-webhook-acceptor
	cp debian/conf/.env.template                                         debian/abraflexi-webhook-acceptor-mysql/usr/lib/abraflexi-webhook-acceptor
	mkdir -p                                                             debian/abraflexi-webhook-acceptor-pgsql/usr/lib/abraflexi-webhook-acceptor
	cp debian/conf/.env.template                                         debian/abraflexi-webhook-acceptor-pgsql/usr/lib/abraflexi-webhook-acceptor
	sed -i '/DB_DATABASE/c\DB_DATABASE=_DBC_DBNAME_'                     debian/abraflexi-webhook-acceptor-*sql/usr/lib/abraflexi-webhook-acceptor/.env.template
	# Kafka backend .env.template
	mkdir -p                                                             debian/abraflexi-webhook-acceptor-kafka/usr/lib/abraflexi-webhook-acceptor
	cp debian/conf/.env.template                                         debian/abraflexi-webhook-acceptor-kafka/usr/lib/abraflexi-webhook-acceptor
	sed -i '/WHA_SAVER/c\WHA_SAVER=Kafka'                               debian/abraflexi-webhook-acceptor-kafka/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'KAFKA_BROKERS=localhost:9092'                                 >> debian/abraflexi-webhook-acceptor-kafka/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'KAFKA_TOPIC_PREFIX=abraflexi'                                 >> debian/abraflexi-webhook-acceptor-kafka/usr/lib/abraflexi-webhook-acceptor/.env.template
	# Redis backend .env.template
	mkdir -p                                                             debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor
	cp debian/conf/.env.template                                         debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor
	sed -i '/WHA_SAVER/c\WHA_SAVER=Redis'                               debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'REDIS_HOST=localhost'                                         >> debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'REDIS_PORT=6379'                                              >> debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'REDIS_PASSWORD='                                              >> debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'REDIS_KEY_PREFIX=abraflexi'                                   >> debian/abraflexi-webhook-acceptor-redis/usr/lib/abraflexi-webhook-acceptor/.env.template
	# MongoDB backend .env.template
	mkdir -p                                                             debian/abraflexi-webhook-acceptor-mongodb/usr/lib/abraflexi-webhook-acceptor
	cp debian/conf/.env.template                                         debian/abraflexi-webhook-acceptor-mongodb/usr/lib/abraflexi-webhook-acceptor
	sed -i '/WHA_SAVER/c\WHA_SAVER=MongoDB'                             debian/abraflexi-webhook-acceptor-mongodb/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'MONGODB_URI=mongodb://localhost:27017'                        >> debian/abraflexi-webhook-acceptor-mongodb/usr/lib/abraflexi-webhook-acceptor/.env.template
	echo 'MONGODB_DATABASE=abraflexi_webhook'                           >> debian/abraflexi-webhook-acceptor-mongodb/usr/lib/abraflexi-webhook-acceptor/.env.template
